<% if user_signed_in? %>
        <h1> Benvenuto <%= current_user.email %> </h1>
<% end %>

<div class = "row align-items-center">
    <div class = "col">
        <h2>Inserisci qui i prodotti</h2>
        <%= form_with scope: :todo, url: todos_path do |f|%>
        <%= f.text_field :item, placeholder: "es. Latte x2" %><br><br>
        <%= f.submit "Invia", class: "btn btn-primary" %>
        <% end %>
    </div>
    
    <div class = "col">
        <table class="table table-bordered">
            <h1>Lista</h1>
            <tr>
                <td><b>Prodotto</b></td>
                <td><b>Clicca per eliminare</b></td>
            </tr>
                <% @todos.each do |todo| %>
                <tr>
                    <td><%= todo.item %></td>
                    <td><%= button_to "Elimina", todo, method: :delete %></td>
                    <% end %>
                </tr>
                
        </table>   
    </div>
</div>