<<<<<<< HEAD
=======
<% if user_signed_in? %> 
 <div> Welcome <%= current_user.email %> </div> 
  <%= button_to "Sign out", destroy_user_session_path, method: :delete %> 
<% else %>
  <%= button_to "Sign in", new_user_session_path %> 
<% end %>
>>>>>>> d455cf5e0121aa7943da46f36215ebe3e2e4c1ed

<h1>LISTA DELLA SPESA</h1><br>

<div class = "row align-items-center">
    <div class = "col">
        <h2>Inserisci qui i prodotti</h2>
        <%= form_with scope: :todo, url: todos_path do |f|%>
        <%= f.text_field :item, placeholder: "es. Latte x2" %><br><br>
        <%= f.submit "Invia", class: "btn btn-primary" %>
        <% end %>
    </div>
    
    <div class = "col">
        <table class="table table-bordered">
            <h1>Lista</h1>
            <tr>
                <td><b>Prodotto</b></td>
                <td><b>Clicca per eliminare</b></td>
            </tr>
                <% @todos.each do |todo| %>
                <tr>
                    <td><%= todo.item %></td>
                    <td><%= link_to "Elimina", todo, method: :delete %></td>
                </tr>
                <% end %>
        </table>   
    </div>
</div>