<% if user_signed_in? %> 
 <div> Welcome <%= current_user.email %> </div> 
  <%= button_to "Sign out", destroy_user_session_path, method: :delete %> 
<% else %>
  <%= button_to "Sign in", new_user_session_path %> 
<% end %>

<h1>LISTA DELLA SPESA</h1><br>
<div class = "row align-items-center">
    <div class = "col">
        <h2>Inserisci qui i prodotti</h2>
        <%= form_with scope: :todo, url: todos_path do |f|%>
        <%= f.text_field :item, placeholder: "es. Latte x2" %><br><br>
        <%= f.submit "Invia", class: "btn btn-primary" %>
        <% end %>
    </div>
    
    <div class = "col">
        <h1>Lista</h1>
        <ol>
            <% @todos.each do |todo| %><h3>
            <li>
                <%= todo.item %>
                <small><%= link_to "Elimina", todo, method: :delete %></small>
            </li></h3>
            <% end %>
        </ol>   
    </div>
</div>